\chapter{Appendices}
\section{GitHub}
\href{https://github.com/seanmoylan/Applied_Project}
{Click for GitHub Repo}

\section{Video}
%Video
\href{https://github.com/seanmoylan/Applied_Project/blob/master/Screencast/app_screencast.mp4}
{Click for Video}
